<p><b>Here is a summary of licenses' processing over the last 24 hours:</b></p>
<p><%= @ingestion_files.count %> were processed.</p>
<p><%= @licenses.count %> were issued.</p>
<p><%= @cyclists.count %> were added to the system.</p>